---
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Felizardo.DEV — Home',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Content Widget **************** -->
  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/felizardo.dev/',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'Linkedin',
          href: 'https://www.linkedin.com/in/diogofelizardo/',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/diogofelizardo',
        },
      },
      
    ]}
    image={{
      src: 'https://avatars.githubusercontent.com/u/13451268?v=4',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
  <!-- <Fragment slot="frame">
      <iframe
      src="https://3310snake.com/"
      width="700"  
      height="700"
      class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"
      style="border: none;"
      allowfullscreen
    ></iframe>
    powered by <a href="https://3310snake.com">3310snake.com</a> 
  </Fragment> -->
  <!-- image={{
    src: 'https://avatars.githubusercontent.com/u/13451268?v=4',
    alt: 'Colorful Image',
    loading: 'eager',
  }} -->

    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sobre mim</h2>
      <p>
        Bem-vindo à minha jornada tecnológica. Minha carreira é um reflexo do meu compromisso com a criação de soluções inovadoras, onde cada linha de código se transforma em uma peça fundamental para resolver problemas complexos.
      </p>
      <br />
      <p>
        Encontro inspiração no mundo ao meu redor, seja através de novas tendências tecnológicas, desafios de programação ou da constante evolução do ecossistema de desenvolvimento. Acredito que cada projeto é uma oportunidade para criar algo impactante e agregar valor aos negócios por meio da tecnologia.
      </p>
      <br />
      <p>
        Se quiser saber mais sobre meu trabalho e acompanhar minhas contribuições, você pode me seguir:
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore meus artigos cheios de insights no meu blog"
    information={`Mergulhe em um universo de sabedoria tecnológica e inspiração criativa, onde você encontrará insights valiosos, dicas práticas e narrativas envolventes que irão elevar e enriquecer sua jornada de desenvolvimento.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

</Layout>
